.card-header {
  height: auto;

  textarea {
    width: 100%;
    min-height: 24px;
    resize: none;
    background: transparent;
    border: none;
    overflow: auto;
    color: white;
    max-height: 174px;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-footer {
  cursor: move;
}

app-task {
  width: 100%;
}
