<!-- Modal -->
<div class="modal fade" #addTaskModal id="addTaskModal" tabindex="-1"
(hide.bs.modal)="close()">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="form" id="taskForm" (ngSubmit)="add()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" [class.invalid]="invalidName" formControlName="name">
            <div *ngIf="invalidName" style="color: #DE356F;">
              Please choose a name for your task
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="3" formControlName="description"></textarea>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="taskForm" class="btn btn-success">{{action}}</button>
      </div>
    </div>
  </div>
</div>
