.navbar-brand {
  display: flex;
  align-items: center;
}

.content {
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .content {
    justify-content: normal;
  }

  .login, .user {
    margin-bottom: 14px;
  }
}
