<div class="main-page">
  <p class="text-white text-center h1 mb-5">Hi 😃!. Welcome to KANBLIST.</p>
  <p class="text-white text-center h3">Bla bla bla...</p>
  <p class="text-white text-center h2">To start, you'll have to login using a google account, use the login button above.</p>
  <!-- <button class="btn btn-success mt-5 d-flex align-items-center justify-content-between" style="width: 150px; height: 65px;">
    <span class="h4">Log In</span>
    <div class="bg-white ms-2" style="width: 45px; height: 45px; border-radius: 50%;">
    <img src="./../../../../assets/google.svg" alt="G" style="width: 100%; height: 100%;">
    </div>
  </button> -->
</div>
