<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="">
      <i class="bi bi-bounding-box-circles ms-3" style="font-size: 30px;"></i>
      <span class="ms-2">KANBLIST</span>
    </a>

    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Show view modes"
    class="navbar-toggler me-4" style="width: 44px; height: 44px;">
      <i class="bi bi-list"></i>
    </button>

    <div class="content collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link active" href="">Boards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Lists</a>
        </li>
      </ul>
      <div class="login-signup d-flex justify-content-between p-4">
        <button class="btn btn-success me-4">Log In</button>
        <button class="btn btn-outline-success">Sign Up</button>
      </div>
    </div>
  </div>

</nav>
