.card-body {
  max-height: 144px;
  overflow-y: auto;

  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  height: 34px;

  cursor: grab;
}

.delete {
  opacity: 1;
  transition: opacity 0.4s;
}

.tag {
  width: 54px;
  height: 14px;
  border-radius: 14px;
  background-color: #FC4422;
}

@media screen and (min-width: 575.98px)
{
  .delete {
    opacity: 0;
  }

  .card:hover {
    .delete {
      opacity: 1;
    }
  }
}
