/* You can add global styles to this file, and also import other style files */

html{
  background-color: #424242;
}

.main-page{
  background-color: #212121;
  display: flex;
  position: absolute;
  top: 90px;
  bottom: 34px;
  left: 14px;
  right: 14px;
  border-radius: 10px;
  overflow: auto;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
