.main{
  background-color: #212121;
  display: flex;
  position: absolute;
  column-gap: 14px;
  top: 90px;
  bottom: 34px;
  left: 14px;
  right: 14px;
  border-radius: 10px;

  cursor: grab;
  overflow: auto;
}

app-board {
  height: fit-content;
}
